//Variables

//colors
$black: #444;
$text: #020818;
$white: #fff;
$red: red;
$darkBlue: #002339;
$blue: #0060a0;
$lightBlue: #0192d5;
$lightGray: #ebf2f6;

$lightGreen: #89d22e;

//type
$sansFont: 'proxima-nova';
$baseSize: 18px;

//widths
$huge: 1440px;
$large: 1200px;
$big: 960px;
$medium: 720px;
$small: 640px;
