/*
    sass file
*/

@import 'normailize';

//setup
@import 'variables';
@import 'mixins';

// modules
@import 'modules/layout';
@import 'modules/utilities';
@import 'modules/type';
//@import 'modules/rows';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/menus';
@import 'modules/pano';
@import 'modules/carousels';
@import 'modules/quotes';
@import 'modules/buttons';
@import 'modules/tabs';

// move out to modules
//$font : 'Barrio', cursive;
//$sansFont : 'Raleway', sans-serif;
$roboto: 'Roboto Slab', serif;

/*
    body
*/
html{
    font-size: 18px;
}
body{

}
h1, h2{
    font-family: $roboto;
    font-weight: 400;
    font-size: 2rem;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
}

/*
    Grid
*/
.grid{
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    border: 1px solid red;
    header, main, footer{
      grid-column: 2 / 3;
      background: pink;
    }
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
