/*
    Header
    -laysout the header section
*/

#headerMain{
    background: $darkBlue;
    height: 100px;
    width: 100%;
    max-width: $huge;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    div:first-of-type{
        flex: 0 0 16%;
    }
    div:last-of-type{
        flex: 0 0 75%;
        text-align: right;
    }
}

.logo{
    //background: red;
    //grid-column: 1/3;
}
.external, nav{
    //background: yellow;
    //grid-column: 6/13;
}
